
//Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$brand-color: blue;
$purple: #8357c5;




$brand-font-family: Helvetica, Arial, sans-serif;

//size
$s-size: 1.2rem ;  //small
$m-size: 1.6rem; //m medium 
$l-size: 3.2rem;  //l large
$xl-size: 4.8rem; //xl xlarge
$destop-breakpoint: 45rem;